In [11]:
import pandas as pd
from pandas import DataFrame

In [12]:
df = DataFrame

In [13]:
df = pd.read_csv(r"C:\Users\Sett's Wife\Desktop\Data Analysis\Certificates\IBM Data Analyst Professional Certificate edX\Course 9 Data Analytics and Visualization Capstone Project\Module 5 How to Present Your Findings\Data\New folder\Languages2.csv")

In [14]:
df

,Unnamed: 0,No,Respondent,LanguageDesireNextYear,LanguageWorkedWith
0,0,0.000000,0.000154,HTML/CSS,HTML/CSS
1,1,0.000007,0.000154,HTML/CSS,Java
2,2,0.000014,0.000154,HTML/CSS,JavaScript
3,3,0.000020,0.000154,HTML/CSS,Python
4,4,0.000027,0.000154,HTML/CSS,SQL
...,...,...,...,...,...
44324,44324,0.999850,1.000000,Go,Ruby
44325,44325,0.999857,1.000000,Go,SQL
44326,44326,0.999864,1.000000,Python,SQL
44327,44327,0.999932,1.000000,R,SQL
44328,44328,1.000000,1.000000,SQL,SQL

In [15]:
df.head()

   Unnamed: 0        No  Respondent LanguageDesireNextYear LanguageWorkedWith
0           0  0.000000    0.000154               HTML/CSS           HTML/CSS
1           1  0.000007    0.000154               HTML/CSS               Java
2           2  0.000014    0.000154               HTML/CSS         JavaScript
3           3  0.000020    0.000154               HTML/CSS             Python
4           4  0.000027    0.000154               HTML/CSS                SQL

In [16]:
df.tail()

,Unnamed: 0,No,Respondent,LanguageDesireNextYear,LanguageWorkedWith
44324,44324,0.999850,1.0,Go,Ruby
44325,44325,0.999857,1.0,Go,SQL
44326,44326,0.999864,1.0,Python,SQL
44327,44327,0.999932,1.0,R,SQL
44328,44328,1.000000,1.0,SQL,SQL

In [17]:
df.duplicated().sum()

0

In [18]:
df.isnull().sum()

Unnamed: 0                0
No                        0
Respondent                0
LanguageDesireNextYear    0
LanguageWorkedWith        0
dtype: int64

In [19]:
df["LanguageWorkedWith"].value_counts()

TypeScript               10223
SQL                       9314
JavaScript                4288
HTML/CSS                  3451
Python                    2693
C#                        2109
Bash/Shell/PowerShell     1934
VBA                       1721
Java                      1587
PHP                       1431
Swift                      777
C++                        694
Ruby                       615
Scala                      582
C                          573
Go                         552
Kotlin                     422
Rust                       298
R                          278
Objective-C                218
Dart                       196
Assembly                   147
Perl                       126
Haskell                     76
Julia                       24
Name: LanguageWorkedWith, dtype: int64

In [20]:
df["LanguageDesireNextYear"].value_counts()

Bash/Shell/PowerShell    8727
C#                       6666
HTML/CSS                 4001
Go                       3707
JavaScript               3353
Python                   2625
TypeScript               2364
SQL                      2294
Dart                     1399
Java                     1297
C++                      1127
Rust                     1105
C                        1010
Kotlin                    942
Assembly                  851
PHP                       569
Swift                     456
Ruby                      439
Haskell                   403
Scala                     329
R                         312
Julia                     124
Objective-C               105
Perl                       69
VBA                        55
Name: LanguageDesireNextYear, dtype: int64